.social-links {
    
    display: flex;
    gap: 50px;
}

.social-links a img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.social-links a:hover img {
    transform: scale(1.1);
}